.footer {
  font-family: 'Karla', sans-serif;
  background: linear-gradient(to right, #f219aa, #7026b9);
  padding: 2rem 0;
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p,
.footer img {
  margin-bottom: 0;
}

.footer-made-in {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}
.footer-made-in img {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.3rem;
}

.footer-date {
  margin-left: 0.5rem;
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
  }
  .separator {
    display: none;
  }
  .footer-made-in {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .footer-date {
    margin-left: 0;
  }
}
