.header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}
.header-logo h2 {
  margin-bottom: 0 !important;
}
.header-logo img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-bottom: 0;
}

.title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.title:hover {
  color: rgba(0, 0, 0, 0.8);
}
.nav-list {
  display: flex; // stack items left to right
  align-items: center;
  list-style-type: none; // remove bullet points
  margin: 0;
}
.nav-item {
  color: #542c85;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 1.4rem;
  text-decoration: none;
}
.nav-item:hover {
  color: #7026b9;
}
.active-nav-item {
  color: #7026b9;
}
